// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,600);

// reset
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.2em;
    line-height: 1;
    font-weight: inherit;
}

// root
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', serif;
    font-weight: 300;
    height: 100vh;
    margin: 0;
}

// generic class
.site {
    width: 960px;
    max-width: 100%;
    margin: auto;
    padding: 2em;
}

.button {
    padding: 1em 2em;
    border: 1px solid #636b6f;
    display: inline-block;
    color: currentColor;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
        background-color: #636b6f;
        color: white;
    }
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.text--xl {
    font-size: 75px;
    font-weight: 100;
}

.text--lg {
    font-size: 50px;
}

.text--md {
    font-size: 30px;
}

.text--sm {
    font-size: 20px;
}

.text--xm {
    font-size: 14px;
}

.text--center {
    text-align: center;
}

// Page style
.article__header {
    margin-bottom: 3em;
}

.article__content {
    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
    }
}

.post-thumbnail {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 2em;
}